<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>
        Coming Soon!
      </h1>
      <h1><small>no, really!</small></h1>
      <h2>Praise for Psychobabble: Reborn</h2>
      <blockquote>
        <p>This will be the best site ever, forever and ever!</p>
        <small>Daryl on <cite title="It's on the internet, it MUST be true!">The Internet, 2017</cite></small>
      </blockquote>
      <blockquote class="blockquote-reverse">
        <p>Rated 5/5 would travel to future to review again. Site <del>is</del> will be lit af!</p>
        <small>Daryl on <cite title="It's on the internet, it MUST be true!">The Internet, 2017</cite></small>
      </blockquote>
      <blockquote>
        <p>I can't even...</p>
        <small>Daryl on <cite title="It's on the internet, it MUST be true!">The Internet, 2017</cite></small>
      </blockquote>
    </div>
  </div>
</div>