<div class="container">
  <div class="row">
    <div class="col-xs-9">
      <h2>Game Lobbies <small>double-click to join</small> <span class="pull-right"><button class="btn btn-sm btn-primary"><i class="fa fa-fw fa-plus"></i>New Lobby</button></span></h2>
      <div class="row">
        <div class="col-xs-12">
          <div class="table-height well well-sm">
            <div *ngIf="lobbyService.lobbies.length>0; else random" class="list-group">
              <a *ngFor="let lobby of lobbyService.getLobbies()" class="list-group-item">
                <h4 class="list-group-item-heading">{{lobby.name}} <span class="pull-right"><span class="label label-primary">{{lobby.players.length}}/5</span>
                  <i class="fa-fw fa fa-lg fa-users"></i>
                  </span>
                </h4>
                <p class="list-group-item-text">created by <em>{{lobby.players[0].name}}</em></p>
              </a>
            </div>
            <ng-template #random>
              <p class="h3 text-center lead">oh no, there aren't any lobbies!</p>
            </ng-template>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="chat-height">
            <p class="h5 lead text-center">
              &lt;chat-module&gt;<br>
              coming not-so-soon<br>
              &lt;/chat-module&gt;</p>
          </div>
        </div>
      </div>
    </div>
    <div class="playerlist col-xs-3">
      <h2>
        Active Players
      </h2>
      <h3 class="text-success">Online</h3>
      <span *ngFor="let p of playersService.getPlayersOfState(playerStates.ONLINE)">
        <span class="label label-success">{{p.name}}</span><br>
      </span>
      <h3 class="text-info">In-Lobby</h3>
      <span *ngFor="let p of playersService.getPlayersOfState(playerStates.IN_LOBBY)">
        <span class="label label-info">{{p.name}}</span><br>
      </span>
      <h3 class="text-warning">In-Match</h3>
      <span *ngFor="let p of playersService.getPlayersOfState(playerStates.IN_MATCH)">
        <span class="label label-warning">{{p.name}}</span><br>
      </span>
    </div>
  </div>

  <div class="row">
    <div class="row">
      <div class="col-xs-6">
        <div class="row">
          <div class="col-xs-12">
            <h2>Lobby Functions Test</h2>
            <!--stuff here-->
            <label for="lobbyName">Lobby Name</label>
            <input id="lobbyName" [(ngModel)]="formLobbyName" type="text">
            <label for="hostId">Host</label>
            <select name="hostId" id="hostId" [(ngModel)]="formHostId">
              <option *ngFor="let p of playersService.getPlayersOfState(playerStates.ONLINE)"value="{{p.id}}">{{p.name}}</option>
            </select><br>
            <button (click)="addLobby()" class="btn btn-success">add lobby</button>
            <hr>
            <label for="lobbyPlayerId">Player</label>
            <select name="lobbyPlayerId" id="lobbyPlayerId" [(ngModel)]="formLobbyPlayerId">
              <option *ngFor="let p of playersService.getPlayers()"value="{{p.id}}">{{p.name}}</option>
            </select>
            <label for="lobbyId">Lobby</label>
            <select name="lobbyId" id="lobbyId" [(ngModel)]="formLobbyId">
              <option *ngFor="let l of lobbyService.getLobbies()" value="{{l.id}}">{{l.name}}</option>
            </select><br>
            <button (click)="playerJoinsLobby()" class="btn btn-warning">Add Player to Lobby</button>
            <button (click)="playerLeavesLobby()" class="btn btn-info">Remove Player from Lobby</button>
            <button (click)="removeLobby()" class="btn btn-danger">remove lobby</button>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <h3>Lobby Info at a glance</h3>
            <!--INFO HERE-->
            <div class="row">
              <div class="col-xs-12">
                <ul>
                  <li *ngFor="let lobby of lobbyService.getLobbies()">
                    {{lobby.id}} ==> {{lobby.name}}
                    <ul *ngFor="let player of lobby.playerList()">
                      <li>{{player.id}} ==> {{player.name}}</li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="row">
          <div class="col-xs-12">
            <h2>Player Functions Test</h2>
            <!--stuff here-->
            <label for="playerName">Player Name</label>
            <input id="playerName" [(ngModel)]="formPlayerName" type="text"><br>
            <button (click)="addPlayer()" class="btn btn-success">add player</button><br>
            <hr>
            <label for="playerId">Player</label>
            <select name="playerId" id="playerId" [(ngModel)]="formPlayerId">
              <option *ngFor="let p of playersService.getPlayers()"value="{{p.id}}">{{p.name}}</option>
            </select>
            <button (click)="removePlayer()" class="btn btn-danger">remove player</button>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <h3>Players Info at a glance</h3>
            <!--INFO HERE-->
            <ul>
              <li *ngFor="let player of playersService.getPlayers()">
                {{player.id}} ==> {{player.name}}
                <ul>
                  <li>State: {{player.status}}</li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
